*{
    font-family: 'Poppins', sans-serif;
}

.bg-warna-1{
    background-color: #f6f8fd;
}

.bg-warna-2{
    background-color: #181230;
}
.text-warna-1 {

}

.text-warna-2 {
    color: #0d213f;
}

.text-warna-3{
    color: #3685fb;
}